/****************************************************************************************************
 ********************************************* CSS RESET ********************************************
 ****************************************************************************************************/
/*
 * @source https://github.com/hankchizljaw/modern-css-reset
 */

/* Box sizing rules */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body, 
h1, h2, h3, h4,
p,
ul[class], ol[class], li,
figure, figcaption, blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input, button, textarea, select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/***************************************************************************************************
 ********************************************* App.css *********************************************
 ***************************************************************************************************/


/****************************************************************************************************
******************************************* CSS VARIABLES ******************************************
****************************************************************************************************/

:root {
  /* background-color: #a37d1c; */
  /* background: linear-gradient(90deg, #9e7110 0%, #9e7110 100%); */
  /* background: linear-gradient(90deg, #9e7110 0%, #135e90 100%); */
  /*linear-gradient(90deg, #9e7110 0%, #c09a1c 100%); */
  --main-bg-color: linear-gradient(90deg, #9e7110 0%, #c09a1c 100%);
}

/****************************************************************************************************
 ********************************************** Content *********************************************
 ****************************************************************************************************/
 body > #root > div {
  height: 100vh;
}

 html, body{
  overflow-x: hidden;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: large;
}

body{
  background-color: var(--main-bg-color);
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  display: flex;
  flex-direction: column;    
  min-height: 100vh;
  background: var(--main-bg-color);
  margin:0px;
  padding: 0px;
}

main {
  flex: 1 0 auto;
  padding-bottom: 2%;
}



#CpLogo{
  letter-spacing: .025em;
  color: #000;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  width: 14em;
  justify-self: end;
}

#CpLogo2{
  justify-self: end;
}




.tab-list {  border-bottom: 1px solid rgb(0, 0, 0);
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

#footer {
  letter-spacing: .025em;
  color: #000;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  display: block;
  z-index: 1;
  background: #b2b2b2;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

 :after, :before {
  box-sizing: border-box;
}

.PageContainer-module--PageContainer--15a8r {
  background: #f4cf64;
  color: #000;
  padding-top: 75px;
  min-height: 100vh;
}

.wrap {
  height: auto;
  margin: 0 auto -80px; /* footer height + space */
  min-height: 100%;
  padding: 0 0 80px; /* footer height + space */
  box-sizing: border-box;
  overflow: auto;
}

.footer-main {
  letter-spacing: .025em;
box-sizing: border-box;
margin: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
color: #000;
padding: 3em;
display: flex;
margin-top: 200px; /* space between content and footer */
box-sizing: border-box;
position: relative;
width: 100%;
}



.footer-left {
  letter-spacing: .025em;
color: #000;
box-sizing: border-box;
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
width: 100%;
display: flex;
flex-direction: column;
flex: 2 1;
align-items: flex-start;

}

.footer-left-content {
  letter-spacing: .025em;
color: #000;
box-sizing: border-box;
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
flex: 1 1 auto;

}

.footer-links {

letter-spacing: .025em;
color: #000;
box-sizing: border-box;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
margin: 0 0 2em;
display: flex;
list-style: none;
padding: 0;
}

.footer-logo {
  letter-spacing: .025em;
  color: #000;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 
    
}


  .footer-right {
    letter-spacing: .025em;
    color: #000;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    width: 100%;
    text-align: right;
    display: flex;
    flex-direction: column;
    flex: 1 1;

  }

  .footer-end {
    letter-spacing: .025em;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #442c13;
    padding: 2em 4em;
    color: #e3e2db;
}



.copyright {
  letter-spacing: .025em;
  color: #e3e2db;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  font-size: .8em;
  padding-left: 0;
}